.center {
    text-align: center;
}

.main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav {
    width: 100%;
    margin-bottom: 50px;
}

.nav a {
    border: 4px solid black;
    border-radius: 7px;
    padding: 5px;
    color: white;
    background-color: black;
    text-decoration: none;
    margin-left: 6px;
    margin-right: 6px;
}

.comic {
    margin-bottom: 15px;
}

.comic img {
    width: 100%;
}

.footer {
    width: 100%;
}